fastapi
uvicorn
python-jose[cryptography]
passlib[bcrypt]
python-multipart
psycopg2-binary
sqlalchemy
dotenv
pydantic[email]
httpx
requests
pyjwt
PyMuPDF
google-cloud-storage
pydantic-settings
vertexai
cohere 
transformers 
openai
jinja2
